<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
<br/>

<div class="btn-group pull-right" style="margin-bottom: 10px;">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        {{pageSize}} per page <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li style="cursor: pointer;" ng-repeat="pSize in pageSizeOptions" ng-click="changePageSize(pSize)"><a>{{pSize}}</a></li>
    </ul>
</div>
<h2>Jobs found: {{jobs.length}}</h2>

<div class="col-md-3">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <input type="search" class="form-control" ng-model="search" placeholder="Search">
                </h4>
            </div>

        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    Job Category
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <form role="form">
                        <div class="checkbox" class="blue">
                            <label><input type="checkbox" value="" ng-click="clickField(0)">Natural
                                Sciences</label> <span class="badge">{{clickFieldMemory[0].badgeN}}</span>
                        </div>
                        <div class="checkbox" class="blue">
                            <label><input type="checkbox" value="" ng-click="clickField(1)">IT</label><span
                                class="badge">{{clickFieldMemory[1].badgeN}}</span>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="" ng-click="clickField(2)">Office</label><span
                                class="badge">{{clickFieldMemory[2].badgeN}}</span>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="" ng-click="clickField(3)">Leadership</label><span
                                class="badge">{{clickFieldMemory[3].badgeN}}</span>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value=""
                                          ng-click="clickField(4)">Medical/Social</label><span class="badge">{{clickFieldMemory[4].badgeN}}</span>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="" ng-click="clickField(5)">Research and
                                Education</label><span class="badge">{{clickFieldMemory[5].badgeN}}</span>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="" ng-click="clickField(6)">Service</label><span
                                class="badge">{{clickFieldMemory[6].badgeN}}</span>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="" ng-click="clickField(7)">Student</label><span
                                class="badge">{{clickFieldMemory[7].badgeN}}</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    Area
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <form role="form">
                        <div class="checkbox">
                            <label><input type="checkbox" value="" ng-click="clickArea(0)">Copenhagen</label><span
                                class="badge">{{clickAreaMemory[0].badgeN}}</span>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="" ng-click="clickArea(1)">Zealand</label><span
                                class="badge">{{clickAreaMemory[1].badgeN}}</span>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="" ng-click="clickArea(2)">South
                                Denmark</label><span class="badge">{{clickAreaMemory[2].badgeN}}</span>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="" ng-click="clickArea(3)">Middle
                                Jylland</label><span class="badge">{{clickAreaMemory[3].badgeN}}</span>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="" ng-click="clickArea(4)">North
                                Jylland</label><span class="badge">{{clickAreaMemory[4].badgeN}}</span>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="" ng-click="clickArea(5)">Scania</label><span
                                class="badge">{{clickAreaMemory[5].badgeN}}</span>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="" ng-click="clickArea(6)">Greenland &
                                Faroe</label><span
                                class="badge">{{clickAreaMemory[6].badgeN}}</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-9">
    <table id="jobs-table" class="table table-striped table-hover" style="opacity: 1">
        <!--<thead>-->
        <!--<th>title</th>-->
        <!--<th>date</th>-->
        <!--<th>area</th>-->
        <!--</thead>-->
        <tbody>

        <img class="spinner" src="img/spinner.gif" ng-show="loading" style="z-index: 100;">

        <tr dir-paginate="job in jobs | orderBy:predicate:!reverse | filter:search | itemsPerPage: pageSize"
            current-page="currentPage">
            <td>
                <div>
                    <a style="font-weight: bold" href={{job.url}}>{{job.title }}</a>
                </div>
                <div>{{job.company}}
                </div>
            </td>
            <td>{{job.postDate | date: 'd MMM' }}</td>
            <td>{{job.area}}</td>
        </tr>
        </tbody>
    </table>

    <dir-pagination-controls boundary-links="true"
                             template-url="vendor/pagination/dirPagination.tpl.html"></dir-pagination-controls>

</div>

